<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Deal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let item of (deal | async)" >
    <h1>{{item.rName}}</h1>
    <img-loader class="dealimg" src="{{item.photo}}" useImg></img-loader>
    <br>
    <h3>{{item.dealDesc}}</h3>
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="item.active_days.sun==true" class="active-day">Sun</ion-col><ion-col *ngIf="item.active_days.sun==false" class="inactive-day">Sun</ion-col>
        <ion-col *ngIf="item.active_days.mon==true" class="active-day">Mon</ion-col><ion-col *ngIf="item.active_days.mon==false" class="inactive-day">Mon</ion-col>
        <ion-col *ngIf="item.active_days.tues==true" class="active-day">Tues</ion-col><ion-col *ngIf="item.active_days.tues==false" class="inactive-day">Tues</ion-col>
        <ion-col *ngIf="item.active_days.wed==true" class="active-day">Wed</ion-col><ion-col *ngIf="item.active_days.wed==false" class="inactive-day">Wed</ion-col>    
        <ion-col *ngIf="item.active_days.thur==true" class="active-day">Thur</ion-col><ion-col *ngIf="item.active_days.thur==false" class="inactive-day">Thur</ion-col>
        <ion-col *ngIf="item.active_days.fri==true" class="active-day">Fri</ion-col><ion-col *ngIf="item.active_days.fri==false" class="inactive-day">Fri</ion-col>
        <ion-col *ngIf="item.active_days.sat==true" class="active-day">Sat</ion-col><ion-col *ngIf="item.active_days.sat==false" class="inactive-day">Sat</ion-col>
      </ion-row>
      <br>
      <br>
      <ion-row>
        <ion-col><strong>Start Day</strong></ion-col>
        <ion-col><strong>End Day</strong></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>{{start}}</ion-col>
        <ion-col>{{end}}</ion-col>
      </ion-row>
    </ion-grid>
    <p>Active: {{times}}</p>

    <p>Redeemed {{redeemedCount}} times.</p>
  </div>
</ion-content>
