
<ion-header>
  <ion-navbar color="primary">
      <ion-buttons start>
        <button ion-button (click)="dismiss()">Close</button>
      </ion-buttons>
      <ion-title>Create Deal</ion-title>
  </ion-navbar>
</ion-header>
<!-- Need start time, end time, days active, ($,%,BOGO), (Drink, appetizer, dessert, entire order, entree), photo -->

<ion-content padding>
  <div id="wrapper">
  <ion-slides (ionSlideDidChange)="slideChanged()" class="slides">
    <ion-slide >
      <h3>What's the deal for?</h3>
      <div class="center">
        <ion-list radio-group [(ngModel)]="dealType">
          <ion-item>
            <ion-label>Entree</ion-label>
            <ion-radio value="Entree"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Appetizer</ion-label>
            <ion-radio value="Appetizer"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Drink</ion-label>
            <ion-radio value="Drink"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Dessert</ion-label>
            <ion-radio value="Dessert"></ion-radio>
          </ion-item>
        
          <ion-item>
            <ion-label>Entire Order</ion-label>
            <ion-radio value="Entire Order"></ion-radio>
          </ion-item>
          <ion-item *ngIf="isAdmin" >
              <ion-label>Custom</ion-label>
              <ion-radio value="Custom"></ion-radio>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>

    <ion-slide class="deal-type">
      <h3>What discount would you like?</h3>
      <ion-segment [(ngModel)]="discountType" color="primary">
        <ion-segment-button value="percent">
          %
        </ion-segment-button>
        <ion-segment-button value="dollar">
          $
        </ion-segment-button>
        <ion-segment-button value="BOGO">
          BOGO
        </ion-segment-button>
        <ion-segment-button  value="custom" [hidden]="dealType !== 'Custom'">
          Custom
        </ion-segment-button>
      </ion-segment>
      <br>
      <br>
      <div *ngIf="discountType === 'percent'" >
        <ion-select [(ngModel)]="discount" okText="Okay" cancelText="Dismiss" placeholder="Select discount amount">
            <ion-option *ngFor="let item of getDiscounts(discountType)" value="{{item}}">
              {{ item }}
            </ion-option>
        </ion-select>
      </div>

      <div *ngIf="discountType === 'dollar'">
        <ion-select [(ngModel)]="discount"  okText="Okay" cancelText="Dismiss" placeholder="Select discount amount">
            <ion-option *ngFor="let item of getDiscounts(discountType)" value="{{item}}">
              {{ item }}
            </ion-option>
          </ion-select>
          <!-- <p align="center">Off</p>
          <ion-select [(ngModel)]="discountOf" okText="Okay" cancelText="Dismiss" placeholder="Select minimum">
            <ion-option value="">Select minimum</ion-option>
            <ion-option *ngFor="let item of getDiscounts('dollarOf')" value="{{item}}">
              {{ item }}
            </ion-option>
          </ion-select>
          <p align="center">To not set a minimum price, leave second option blank.</p> -->
      </div>
      <div *ngIf="discountType === 'BOGO'">
          Buy One Get One
      </div>
      <div *ngIf="discountType === 'custom'">
          <ion-label>Enter Custom Deal</ion-label>
          <ion-input [(ngModel)]="discount" placeholder="Custom Deal"></ion-input>
      </div>
    </ion-slide>
  
    <ion-slide>
      <h3>When should we run this deal?</h3>
        <ion-item >
          <ion-label>Start Date</ion-label>
          <ion-datetime displayFormat="MM-DD-YYYY" [(ngModel)]="startDate" [max]="dateMax"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>End Date</ion-label>
          <ion-datetime displayFormat="MM-DD-YYYY"  [(ngModel)]="endDate" [max]="dateMax"></ion-datetime>
        </ion-item>
        <br>
        <br>
        What times should we run this deal?
        <br>
        <ion-item>
          <ion-checkbox [(ngModel)]="allDay" ></ion-checkbox>
          <ion-label>All Day</ion-label>
        </ion-item>
        <br>
        <div>
          <ion-item>
            <ion-label>Start Time</ion-label>
            <ion-datetime #datePicker displayFormat="h:mmA" [(ngModel)]="startTime" [disabled]="allDay"></ion-datetime>
          </ion-item>
          <ion-item >
            <ion-label>End Time</ion-label>
            <ion-datetime #datePicker displayFormat="h:mmA" [(ngModel)]="endTime" [disabled]="allDay"></ion-datetime>
          </ion-item>
        </div>
    </ion-slide>

    <ion-slide>
      <h3>What days should this deal be available?</h3>
      <div class="center">
        <ion-grid>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <ion-label class="active-day"><span>Active</span></ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="inactive-day"><span>Inactive</span></ion-label>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
          <ion-checkbox [(ngModel)]="dealDays.mon" hidden="true"></ion-checkbox>
          <ion-label *ngIf="dealDays.mon==true" class="active-day" (click)="dealDays.mon=false;"><span>Monday</span></ion-label>
          <ion-label *ngIf="dealDays.mon==false" class="inactive-day" (click)="dealDays.mon=true;"><span>Monday</span></ion-label>
 
          <ion-checkbox [(ngModel)]="dealDays.tues" hidden="true"></ion-checkbox>
          <ion-label *ngIf="dealDays.tues==true" class="active-day" (click)="dealDays.tues=false;"><span>Tuesday</span></ion-label>
          <ion-label *ngIf="dealDays.tues==false" class="inactive-day" (click)="dealDays.tues=true;"><span>Tuesday</span></ion-label>
          
          <ion-checkbox [(ngModel)]="dealDays.wed" hidden="true"></ion-checkbox>
          <ion-label *ngIf="dealDays.wed==true" class="active-day" (click)="dealDays.wed=false;"><span>Wednesday</span></ion-label>
          <ion-label *ngIf="dealDays.wed==false" class="inactive-day" (click)="dealDays.wed=true;"><span>Wednesday</span></ion-label>
   
          <ion-checkbox [(ngModel)]="dealDays.thur" hidden="true"></ion-checkbox>
          <ion-label *ngIf="dealDays.thur==true" class="active-day" (click)="dealDays.thur=false;"><span>Thursday</span></ion-label>
          <ion-label *ngIf="dealDays.thur==false" class="inactive-day" (click)="dealDays.thur=true;"><span>Thursday</span></ion-label>
 
          <ion-checkbox [(ngModel)]="dealDays.fri" hidden="true"></ion-checkbox>
          <ion-label *ngIf="dealDays.fri==true" class="active-day" (click)="dealDays.fri=false;"><span>Friday</span></ion-label>
          <ion-label *ngIf="dealDays.fri==false" class="inactive-day" (click)="dealDays.fri=true;"><span>Friday</span></ion-label>     

          <ion-checkbox [(ngModel)]="dealDays.sat" hidden="true"></ion-checkbox>
          <ion-label *ngIf="dealDays.sat==true" class="active-day" (click)="dealDays.sat=false;"><span>Saturday</span></ion-label>
          <ion-label *ngIf="dealDays.sat==false" class="inactive-day" (click)="dealDays.sat=true;"><span>Saturday</span></ion-label> 

          <ion-checkbox [(ngModel)]="dealDays.sun" hidden="true"></ion-checkbox>
          <ion-label *ngIf="dealDays.sun==true" class="active-day" (click)="dealDays.sun=false;"><span>Sunday</span></ion-label>
          <ion-label *ngIf="dealDays.sun==false" class="inactive-day" (click)="dealDays.sun=true;"><span>Sunday</span></ion-label>  
      </div>
    </ion-slide>

    <ion-slide ng-init="loadImages()">
      <h3>Select the best photo!</h3>
      <div class="placeholder">
        <img class="dealimg" *ngIf="downloadURL; let url" [src]="url" alt="Image from AngularFireStorage" (load)="loaded = true">
      </div>
      <br>
      <input  type="file" (change)="upload($event)" accept="image/*" hidden="true" #file/>
      <button ion-button color="primary"  class="center" (click)="file.click()">Select Photo</button>
      <br>
      <button ion-button color="secondary"  class="center" (click)="openSelector()">Use One of Ours!</button>
    </ion-slide>
    
    <ion-slide>
        <h3>Is everything correct?</h3>
        <h4>{{newDeal.vendor_name}}</h4>
        <div class="placeholder" [hidden]="loaded">
          <ion-spinner *ngIf="startedUpload" class="custom-spinner"></ion-spinner>
        </div>
        <img class="dealimg" *ngIf="downloadURL; let url" [src]="url" alt="Image from AngularFireStorage" (load)="loaded = true">
        <ion-item><h3>{{newDeal.deal_description}}</h3></ion-item>
        <ion-item>Start: {{dispStart}}</ion-item>
        <ion-item>End: {{dispEnd}}</ion-item>
        <ion-item>
          <h5>Active Days</h5>
          <ul>
            <li *ngIf="dealDays.mon">Monday</li>
            <li *ngIf="dealDays.tues">Tuesday</li>
            <li *ngIf="dealDays.wed">Wednesday</li>
            <li *ngIf="dealDays.thur">Thursday</li>
            <li *ngIf="dealDays.fri">Friday</li>
            <li *ngIf="dealDays.sat">Saturday</li>
            <li *ngIf="dealDays.sun">Sunday</li>
          </ul>
        </ion-item>
    </ion-slide>
  </ion-slides>
</div>
</ion-content>

<ion-footer>
  <ion-grid *ngIf="atEnd === false">
    <ion-row>
      <ion-col>
        <button ion-button  *ngIf="atFront === false" color="primary"  class="nav" (click)="prevClick()">Previous</button>
      </ion-col>
      <ion-col>
        <button ion-button color="secondary"  class="nav" (click)="nextClick()">Next</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="atEnd === true">
      <ion-row>
        <ion-col>
          <button ion-button color="primary"  class="nav" (click)="prevClick()">Previous</button>
        </ion-col>
        <ion-col>
          <button ion-button color="secondary"  class="nav" (click)="confirmed()">Yes</button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>

