<!--
  Generated template for the CreatedealPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Create Deal</ion-title>
  </ion-navbar>
</ion-header>
<!-- Need start time, end time, days active, ($,%,BOGO), (Drink, appetizer, dessert, entire order, entree), photo -->

<ion-content padding>
  <ion-slides (ionSlideDidChange)="slideChanged()" class="slides">
    <ion-slide >
      <ion-list radio-group [(ngModel)]="dealType">

        <ion-list-header>
          What's the deal for?
        </ion-list-header>

        <ion-item>
          <ion-label>Entree</ion-label>
          <ion-radio value="Entree"></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>Appetizer</ion-label>
          <ion-radio value="Appetizer"></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>Drink</ion-label>
          <ion-radio value="Drink"></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>Dessert</ion-label>
          <ion-radio value="Dessert"></ion-radio>
        </ion-item>
      
        <ion-item>
          <ion-label>Entire Order</ion-label>
          <ion-radio value="Entire Order"></ion-radio>
        </ion-item>
      
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-header>
      What discount would you like?
        <ion-segment [(ngModel)]="discountType" color="primary">
          <ion-segment-button value="percent">
            %
          </ion-segment-button>
          <ion-segment-button value="dollar">
            $
          </ion-segment-button>
          <ion-segment-button value="BOGO">
            BOGO
          </ion-segment-button>
        </ion-segment>
      </ion-header>
      <ion-select [(ngModel)]="discount" *ngIf="discountType == 'percent' || discountType == 'dollar'" okText="Okay" cancelText="Dismiss" placeholder="Select discount amount">
        <ion-option *ngFor="let item of getDiscounts(discountType)" value="{{item}}">
          {{ item }}
        </ion-option>
      </ion-select>
      <p *ngIf="discountType == 'BOGO'"> Buy One Get One</p>
    </ion-slide>
  
    <ion-slide>
      <ion-header>
          When should we run this deal?
      </ion-header>
      <ion-item >
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MM-DD-YYYY" [(ngModel)]="startDate" [min]="min"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="MM-DD-YYYY" allowOldDates="false" [(ngModel)]="endDate" [min]="min"></ion-datetime>
      </ion-item>
      <br>
      <br>
      What times should we run this deal?
      <br>
      <ion-item>
        <ion-checkbox [(ngModel)]="allDay" ></ion-checkbox>
        <ion-label>All Day</ion-label>
      </ion-item>
      <br>
      <div>
        <ion-item>
          <ion-label>Start Time</ion-label>
          <ion-datetime #datePicker displayFormat="h:mmA" [(ngModel)]="startTime" [disabled]="allDay"></ion-datetime>
        </ion-item>
        <ion-item >
          <ion-label>End Time</ion-label>
          <ion-datetime #datePicker displayFormat="h:mmA" [(ngModel)]="endTime" [disabled]="allDay"></ion-datetime>
        </ion-item>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-header>What days should this deal be available?</ion-header>
      <ion-item>
        <ion-checkbox [(ngModel)]="dealDays.Mon" ></ion-checkbox>
        <ion-label>Monday</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="dealDays.Tues" ></ion-checkbox>
        <ion-label>Tuesday</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="dealDays.Wed" ></ion-checkbox>
        <ion-label>Wednesday</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="dealDays.Thurs" ></ion-checkbox>
        <ion-label>Thursday</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="dealDays.Fri" ></ion-checkbox>
        <ion-label>Friday</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="dealDays.Sat" ></ion-checkbox>
        <ion-label>Saturday</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="dealDays.Sun" ></ion-checkbox>
        <ion-label>Sunday</ion-label>
      </ion-item>
    </ion-slide>

    <ion-slide>
        <ion-header>Select the best photo for this deal!</ion-header>
    </ion-slide>
    
    <ion-slide class="scroll_slide" style="text-align: left;">
      <ion-header>Is everything correct?</ion-header>
      <h3>{{rName}}</h3>
      <ion-item><h3>{{dealString}}</h3></ion-item>
      <ion-item>Start: {{dealStart}}</ion-item>
      <ion-item>End: {{dealEnd}}</ion-item>
      <ion-item>
        <h5>Active Days</h5>
        <ul>
          <li *ngIf="dealDays.Mon">Monday</li>
          <li *ngIf="dealDays.Tues">Tuesday</li>
          <li *ngIf="dealDays.Wed">Wednesday</li>
          <li *ngIf="dealDays.Thurs">Thursday</li>
          <li *ngIf="dealDays.Fri">Friday</li>
          <li *ngIf="dealDays.Sat">Saturday</li>
          <li *ngIf="dealDays.Sun">Sunday</li>
          </ul>
      </ion-item>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-grid *ngIf="atEnd === false">
    <ion-row>
      <ion-col>
        <button ion-button  *ngIf="atFront === false" color="primary"  class="nav" (click)="prevClick()">Previous</button>
      </ion-col>
      <ion-col>
        <button ion-button color="secondary"  class="nav" (click)="nextClick()">Next</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="atEnd === true">
      <ion-row>
        <ion-col>
          <button ion-button color="primary"  class="nav" (click)="prevClick()">Previous</button>
        </ion-col>
        <ion-col>
          <button ion-button color="secondary"  class="nav" (click)="confirmed()">Yes</button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>

