
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
        <button ion-button icon-only (click)='dismiss()'>
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form *ngIf="!cust_id" id="payment-form">
      <div class="form-row">
        <div class="card-element">
          <label for="name">
            Card Holder's Name
          </label>
          <input id="name" [class]="nameClass" name="name" [(ngModel)]="name" placeholder="Jane Doe" autocomplete="name" required>
        </div>
      </div>
      <div class="form-row">
        <div class="card-element">
          <label for="email">
            Email Address
          </label>
          <input id="email" [class]="emailClass" name="email" [(ngModel)]="email" type="email" placeholder="janedoe@gmail.com" autocomplete="email" required>
        </div>
      </div>
      <div class="form-row">
          <div class="card-element">
            <label for="coupon">
              Coupon Code
            </label>
            <input id="coupon" [class]="couponClass" name="coupon" [(ngModel)]="coupon" placeholder="1234ABCD">
          </div>
        </div>
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
          <!-- a Stripe Element will be inserted here. -->
        </div>
  
        <!-- Used to display Element errors -->
        <div id="card-errors" role="alert"></div>
      </div>
      <button ion-button block large>Subscribe</button>
    </form>
    <form *ngIf="cust_id" id="payment-form">
      <div class="form-row">
        <h1>Use a new card</h1>
      </div>
      <div class="form-row">
        <div class="card-element">
          <label for="name">
            Card Holder's Name
          </label>
          <input id="name" [class]="nameClass" name="name" [(ngModel)]="name" placeholder="Jane Doe" autocomplete="name" required>
        </div>
      </div>
      <div class="form-row">
        <label for="card-element">
          Credit or debit card
        </label>
        <div id="card-element">
          <!-- a Stripe Element will be inserted here. -->
        </div>
  
        <!-- Used to display Element errors -->
        <div id="card-errors" role="alert"></div>
      </div>
      <button ion-button block large>Submit New Card</button>
    </form>
</ion-content>
