page-home {
    button {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .passwordIcon{
        font-size:4rem !important;
        position: relative !important;
        top: 15px !important;
        margin: 0 auto !important;
    }
}
