<ion-content padding>
  <div *ngIf="item===0">
    <ion-item *ngFor='let title of titles; let i=index'>
      <ion-label stacked>{{title}}</ion-label>
      <ion-input type="input" [placeholder]="getValue(i)" [(ngModel)]="values[i]"></ion-input>
    </ion-item>
  </div>
  <div *ngIf="item===1">
    <h3>Description</h3>
    <ion-item class="desc">
      <ion-textarea class="description" [(ngModel)]="values[0]" rows="15"></ion-textarea>
    </ion-item>
  </div>
  <div *ngIf="item===2">
    <h3>Loyalty Program</h3>
    <ion-item>
      <ion-checkbox [(ngModel)]="loyaltyEnabled" ></ion-checkbox>
      <ion-label>Use loyalty program</ion-label>
    </ion-item>
    <ion-item>
        <ion-label stacked>{{titles[0]}}</ion-label>
        <ion-input type="input" [placeholder]="getValue(0)" [(ngModel)]="values[0]" [disabled]="!loyaltyEnabled"></ion-input>
    </ion-item>
    <br>
    <ion-list>
        <ion-label stacked>{{titles[1]}} (Customers need 100 points to redeem)</ion-label>
        <div>
          <ion-item>
            <ion-label>Monday</ion-label>
            <ion-input type="number" [placeholder]="values[1].mon" [(ngModel)]="values[1].mon" [disabled]="!loyaltyEnabled"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label >Tuesday</ion-label>
            <ion-input type="number" [placeholder]="values[1].tues" [(ngModel)]="values[1].tues" [disabled]="!loyaltyEnabled"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label >Wednesday</ion-label>
            <ion-input type="number" [placeholder]="values[1].wed" [(ngModel)]="values[1].wed" [disabled]="!loyaltyEnabled"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label >Thursday</ion-label>
            <ion-input type="number" [placeholder]="values[1].thur" [(ngModel)]="values[1].thur" [disabled]="!loyaltyEnabled"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label >Friday</ion-label>
            <ion-input type="number" [placeholder]="values[1].fri" [(ngModel)]="values[1].fri" [disabled]="!loyaltyEnabled"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label >Saturday</ion-label>
            <ion-input type="number" [placeholder]="values[1].sat" [(ngModel)]="values[1].sat" [disabled]="!loyaltyEnabled"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label >Sunday</ion-label>
            <ion-input type="number" [placeholder]="values[1].sun" [(ngModel)]="values[1].sun" [disabled]="!loyaltyEnabled"></ion-input>
          </ion-item>
        </div>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-grid >
    <ion-row>
      <ion-col>
        <button ion-button  color="primary"  class="nav" (click)="submit()">Submit</button>
      </ion-col>
      <ion-col>
        <button ion-button color="secondary"  class="nav" (click)="close()">Cancel</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>