


<ion-content padding>
  <ion-tabs *ngIf="role == 'admin'" class="tabs-icon-text">
    <ion-tab tabIcon="home" tabTitle="Locations" [root]="mainPage"></ion-tab>
    <ion-tab tabIcon="paper" tabTitle="Feed" [root]="redemptionPage"></ion-tab>
    <ion-tab tabIcon="settings" tabTitle="Account" [root]="accountPage"></ion-tab>
  </ion-tabs>
  <ion-tabs *ngIf="role != 'admin'" class="tabs-icon-text">
    <ion-tab tabIcon="home" tabTitle="Locations" [root]="mainPage"></ion-tab>
    <ion-tab tabIcon="settings" tabTitle="Account" [root]="accountPage"></ion-tab>
  </ion-tabs>
</ion-content>
