
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Account</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="signout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1 align="center">Welcome {{full_name}}</h1>
  <br>
  <span *ngIf="isAdmin" >
    {{thiskeys}}
    <ion-list>
        <ion-item>
          Total User Accounts
          <ion-badge color="primary" item-end>{{userCount}}</ion-badge>
        </ion-item>
        <ion-item>
          Vendor Accounts
          <ion-badge color="secondary" item-end>{{vendorCount}}</ion-badge>
        </ion-item>
        <!-- <button (click)="shrinkify()">shrink photos!</button>
        <div id="myphoto"></div> -->
    </ion-list>
  </span>
  <span *ngIf="!isAdmin">
    <h2 center>Subscription</h2>
    <div *ngIf="cust_id && customerLoaded">
      <span *ngIf="curr_invoice && planData && sub_id">
        <ion-item >
          Savour Deals Redemptions (${{planData.plan.amount/100 | number:'1.2-2'}}/Redemption)
        </ion-item>
        <ion-item >
          Current Redemptions: {{planData.quantity}}  
          <span *ngIf="trialing" > 
            (Free trial ends {{trialEnd}})
          </span>
          <span *ngIf="!trialing" >
              (${{curr_invoice.amount_due/100 | number:'1.2-2'}})
          </span>
        </ion-item>
        <ion-item >
          Billing Period: {{billingStart}} - {{billingEnd}}
        </ion-item>
      </span>
      <span *ngIf="sub_id">
        <ion-list>
          <ion-item *ngIf="current_source">
            <span *ngIf="current_source.type == 'card'" >
                <ion-icon name="card" item-start></ion-icon>
                {{ current_source.card.brand }} ending in {{ current_source.card.last4 }}
                <br> 
                Expiration: {{ current_source.card.exp_month}} / {{current_source.card.exp_year}}
            </span>
            <span *ngIf="current_source.object == 'bank_account'" >
                <ion-icon name="card" item-start></ion-icon>
                Bank Account: {{ current_source.bank_name }} ending in {{ current_source.last4 }}
            </span>

            
          </ion-item> 
        </ion-list>
        <button ion-button full color="primary"  (click)="gotoPage(1)" >
          Use another card
        </button> 
        <button ion-button full color="danger"  (click)="updateSubscription()" >
          Cancel Subscription
        </button>  
      
  
        
      </span>
        
      <span *ngIf="!sub_id">
        <p style="color:gray">
        Looks like your subscription was cancelled. Click below to re-subscribe.
        </p>
  
        <button ion-button full color="primary" onclick="window.open('https://www.savourdeals.com/vendorsinfo/#Pricing','_blank');" type="button">Learn about our pricing model</button>  
        <button ion-button full color="primary" (click)="updateSubscription()">Re-subscribe</button>  
      </span>
    </div>
    
    <div class="subscribe_div"  *ngIf="customerLoaded && !cust_id">
      <p style="color:gray">
      Subscription not set up for your account. Add payment information to start posting deals!
      </p>
      <button ion-button full color="primary" onclick="window.open('https://www.savourdeals.com/vendorsinfo/#Pricing','_blank');" type="button">Learn about our pricing model</button>  
      <button ion-button full color="primary" (click)="gotoPage(2)">Set-up Payment</button>  
    </div>
  </span>

</ion-content>
