
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Account</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="signout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1 align="center">Welcome to your Savour Deals portal {{full_name}}!</h1>
  <br>
  <span *ngIf="isAdmin" >
    {{thiskeys}}
    <ion-list>
        <ion-item>
          Total User Accounts
          <ion-badge color="primary" item-end>{{userCount}}</ion-badge>
        </ion-item>
        <ion-item>
          Vendor Accounts
          <ion-badge color="secondary" item-end>{{vendorCount}}</ion-badge>
        </ion-item>
        <!-- <button (click)="shrinkify()">shrink photos!</button>
        <div id="myphoto"></div> -->
    </ion-list>
  </span>
  <span *ngIf="!isAdmin">
    
    Please click below if you have any questions or concerns. We are happy to assist you.
    <button ion-button full color="primary" onclick="window.open('https://www.savourdeals.com/contact','_blank');" type="button">Contact Us</button>  

  </span>

</ion-content>
