page-account {
    ion-content{
        .subscribe_div{
            button {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .item{
            height: 2rem;
            font-size: 1.3rem;
        }

    }

}
