
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Account</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="signout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1>Welcome {{full_name}}</h1>
  <h2>Account page coming soon!</h2>
  <!-- <ion-list>
    <button ion-item *ngFor="let src of sources; let i = index" [attr.data-index]="i">
      <ion-icon name="card" item-start></ion-icon>
      {{ src.card.brand }} ending in {{ src.card.last4 }}
      <br> 
      Expiration: {{ src.card.exp_month}} / {{src.card.exp_year}}
      <ion-icon name="checkmark" *ngIf="src.id==current_source" item-end></ion-icon>
    </button>
    <button ion-item (click)="gotoPage(1)">
      <ion-icon name="add" item-start></ion-icon>
      Add Card
    </button>
  </ion-list> -->
</ion-content>
